# Dependencies
node_modules/

# Test results and reports
test-results/
playwright-report/
allure-results/
allure-report/
lighthouse-reports/

# Build outputs
dist/
build/

# Package files
package-lock.json

# IDE
.vscode/
.idea/

# Github
.github/

# OS
.DS_Store
Thumbs.db
